version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '03:00'
    open-pull-requests-limit: 10
    reviewers:
      - 'andriawan'
    groups:
      patch-and-minor:
        update-types:
          - 'minor'
          - 'patch'
      major:
        update-types:
          - 'major'
